.configuracoes {
    background-color: #ffffff;
    border-radius: 16px;
    padding: 46px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    min-height: 60vh;
    width: 100%;
}

.info-acesso, .criar-conta__caixa {
    padding: 1em 2em;
    margin: 2em 0;
    border: 1px solid #d9d9d9;
    border-radius: 16px;
}

.info-acesso h4, .criar-conta__caixa h4 {
    font-family: "JetBrains Mono", monospace;
    border-left: 5px solid #fac61f;
    padding-left: 0.5em;
}

.info-acesso__form--cima, .info-acesso__form--baixo, .criar-conta__caixa {
    margin: 2em 0;
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.info-acesso__form--cima {
    border-bottom: 1px solid #E0E0E0;
    padding-bottom: 2em;
}

.campos {
    display: flex;
    align-items: center;
    gap: 20px;
}

.info-acesso__form label, .criar-conta__caixa label {
    font-family: "JetBrains Mono", monospace;
    font-weight: 500;
}

.info-acesso__form select, .criar-conta__caixa select {
    border: 1px solid #d9d9d9;
    padding: 5px;
    text-align: center;
    border-radius: 8px;
    font-weight: 700;
    font-family: "JetBrains Mono", monospace;
    color: #7A7A7A;
}

.campos div {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.campos div input {
    border: none;
    outline: none;
    width: 100%;
}

.campos div input::placeholder {
    color: #AAAAAA;
    font-family: "JetBrains Mono", monospace;
}

.campos div input[type="file"]::file-selector-button {
    display: none;
}

.campos div {
    border: 1px solid #d9d9d9;
    text-align: center;
    padding: 5px 10px 5px 5px;
    border-radius: 8px;
    font-weight: 700;
    font-family: "JetBrains Mono", monospace;
    width: 30%;
}

.caneta {
    font-size: 12px;
}

.campos button {
    display: flex;
    align-items: center;
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.lixeira {
    font-size: 16px;
}

.botao-salvar__container {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.botao-salvar {
    background-color: #fac61f;
    border: none;
    padding: 10px 22px;
    font-family: "JetBrains Mono", monospace;
    cursor: pointer;
    border-radius: 8px;
    font-weight: 700;
}

.botao-salvar:hover {
    background-color: #deb11d;
}

.disabled {
  background: grey;
}
