.inicio {
    background-color: #FFFFFF;
    border-radius: 16px;
    padding: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    height: 60vh;
}

.inicio div {
    display: flex;
    flex-direction: column;
    gap: 2em;
    width: 40%;
}

.inicio div h1 {
    font-family: "Red Hat Display", sans-serif;
    font-weight: 900;
    line-height: 63px;
    font-size: 42px;
}

.inicio div p {
    font-family: "JetBrains Mono", monospace;
    line-height: 25.2px;
}

.inicio img {
    width: 40%;
}

.init {
    background-color: #FAC61F;
    font-family: "JetBrains Mono", monospace;
    color: #000000;
    text-decoration: none;
    display: flex;
    width: 120px;
    padding: 15px;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
}