.cabecalho {
  background-color: #ffffff;
  display: flex;
  padding: 1em 2em;
  align-items: center;
  border-radius: 20px;
  position: relative;
}

.esquerdo {
  display: flex;
  align-items: center;
  gap: 7em;
}

.esquerdo img {
  cursor: pointer;
}

.esquerdo button:hover {
  cursor: pointer;
}

.esquerdo div {
  background-color: transparent;
  border: 1px solid #d9d9d9;
  padding: 10px;
  display: flex;
  align-items: center;
  border-radius: 5px;
  width: 300px;
  justify-content: space-between;
}

.esquerdo input {
  border: none;
  width: 90%;
  outline: none;
}

.esquerdo input::placeholder {
  color: #898989;
}

.esquerdo button {
  background-color: transparent;
  border: none;
  display: flex;
  align-items: center;
  font-size: 20px;
}

.direito {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 2em;
  justify-content: flex-end;
}

.sino {
  cursor: pointer;
  font-size: 26px;
}

.perfil {
  display: flex;
  align-items: center;
  gap: 1em;
  border-left: 1px solid #d9d9d9;
  padding-left: 2em;
}

.perfil div {
  background-color: #f1f1f1;
  padding: 10px;
  border-radius: 8px;
}

.caixa-notificacoes {
  position: absolute;
  top: 70px;
  right: 240px;
}

.caixa-notificacoes__container {
  display: flex;
  flex-direction: column;
  width: 300px;
  background-color: #ffffff;
  border: 1px solid #D9D9D9;
  border-radius: 6px;
}

.botao-ver-todas {
  text-align: center;
  padding: 16px 0;
  text-decoration: none;
  color: #5012FF;
  font-size: 12px;
}
