/*
.container {
  background-color: #d9d9d9;
  padding: 3em 5em;
  height: 100%;
  padding-bottom: 10em;
}
*/
.container {
  background-color: #d9d9d9;
  padding-top: 2em;
  padding-left: 2em;
  padding-right: 2em;
  padding-bottom: 3em;
  height: 100%;
}

.nav-container {
  margin-top: 2em;
  display: flex;
  gap: 2em;
}
