.barra-lateral {
  background-color: #ffffff;
  padding: 26px;
  border-radius: 16px;
  height: 75vh;
  width: 15vw;
}

.links {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  list-style: none;
}

.item {
  display: flex;
  align-items: center;
  padding: 12px;
  font-size: 16px;
  gap: 1em;
  cursor: pointer;
  text-decoration: none;
  color: #000000;
}

.item--ativo {
  background-color: #fdedb7;
  border-radius: 10px;
  display: flex;
  align-items: center;
  padding: 12px;
  font-size: 16px;
  gap: 1em;
  cursor: pointer;
  text-decoration: none;
  color: #000000;
}

.baixo {
  border-top: 1px solid #d9d9d9;
  padding-top: 1em;
}
